app:
  static:
    apps:
      salt-ssh-deploy:
        user: __APP_NAME__
        group: __APP_NAME__
        groups:
          - docker
        pass: '!'
        app_root: /opt/__APP_NAME__
        shell: /bin/bash
        sudo_rules:
          gitlab-runner:
            - 'ALL=(ALL) NOPASSWD: /opt/salt-ssh-deploy/src/nodegroup_app_docker_deploy_only_image.sh'
        ssh_keys:
          - file: id_salt_ssh_deploy_dev
            priv: |
              -----BEGIN OPENSSH PRIVATE KEY-----
              xxx
              -----END OPENSSH PRIVATE KEY-----
            pub: ssh-ed25519 AAAAxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx salt-ssh-deploy@example.com
        source:
          git: https://github.com/sysadmws/salt-ssh-deploy.git
          target: /opt/__APP_NAME__/src
        files_contents:
          - path: /opt/__APP_NAME__/.env
            mode: 0600
            contents: |
              export SALT_REPO_IMAGE=gitlab.example.com:5001/example/salt:master
              export SALT_REPO_REGISTRY=gitlab.example.com:5001
              export SALT_REPO_KEY_USER=salt-ssh-deploy
              export SALT_REPO_KEY_TOKEN=xxxxxxxxxxxxxxxx
              export SALTSSH_ROOT_ED25519_PRIV_FILE=/opt/__APP_NAME__/.ssh/id_salt_ssh_deploy_dev
              export SALTSSH_ROOT_ED25519_PUB_FILE=/opt/__APP_NAME__/.ssh/id_salt_ssh_deploy_dev.pub
